*  {
  padding: 0;
  margin: 0;
}
.image-slider {
  position: relative;
}
.slider-item {
  height: 600px;
  background-size: cover;
  background-position: center;
}
.slider-item img {
  display: block;
  max-width: 100%;
}
.slider-item h3 {
  position: absolute;
  width: 100%;
  text-align: center;
  top: 50%;
  font-size: 30px;
  color: #fff;
}
.slider-item h3 span {
  padding: 10px 20px;
  display: inline-block;
  background: rgba(0,0,0,.5);
}
.slider-btn {
  position: absolute;
  top: 50%;
  left: 15px;
  width: 30px;
  text-align: center;
  background: transparent;
  border: 0;
  cursor: pointer;
}
.slider-btn img {
  width: 20px;
}
.slider-btn.btn-next {
  left: auto;
  right: 15px;
}
.slider-dots {
  list-style: none;
  text-align: center;
  position: absolute;
  width: 100%;
  bottom: 30px;
}
.slider-dots li {
  display: inline-block;
  background: #999;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin: 0 3px;
  cursor: pointer;
  border: 1px solid #fff;
}
.slider-dots li.active {
  background: #333;
}